[0m[1;36m                   -`                 [0m
[0m[1;36m                  .o+`                [0m
[0m[1;36m                 `ooo/                [0m
[0m[1;36m                `+oooo:               [0m       {{ ansible_facts['distribution'] }} {{ ansible_distribution_version }} {{ ansible_distribution_release }}.
[0m[1;36m               `+oooooo:              [0m       Build date: {{ ansible_date_time.iso8601 }}
[0m[1;36m               -+oooooo+:             [0m       FQDN:   {{ ansible_fqdn }}
[0m[1;36m             `/:-:++oooo+:            [0m
[0m[1;36m            `/++++/+++++++:           [0m
[0m[1;36m           `/++++++++++++++:          [0m
[0m[1;36m          `/+++o[0m[36moooooooo[0m[1;36moooo/`        [0m
[0m[36m         [0m[1;36m./[0m[36mooosssso++osssssso[0m[1;36m+`       [0m
[0m[36m        .oossssso-````/ossssss+`      [0m
[0m[36m       -osssssso.      :ssssssso.     [0m
[0m[36m      :osssssss/        osssso+++.    [0m
[0m[36m     /ossssssss/        +ssssooo/-    [0m
[0m[36m   `/ossssso+/:-        -:/+osssso+-  [0m
[0m[36m  `+sso+:-`                 `.-/+oso: [0m
[0m[36m `++:.                           `-/+/[0m
[0m[36m .`                                 `/[0m
