  [0m[31m[1m
      `-/+++++++++++++++++/-.`
   `/syyyyyyyyyyyyyyyyyyyyyyys/.
  :yyyyo/-...............-/oyyyy/
 /yyys-                     .oyyy+
.yyyy`                       `syyy-
:yyyo                         /yyy/
.yyyy`                       `syyy-
 /yyys.                     .oyyyo
  /yyyyo:-...............-:oyyyy/`
   `/syyyyyyyyyyyyyyyyyyyyyyys+.
     `.:/+ooooooooooooooo+/:.`[0m
    [0m[1;33m [9999999D
{{ ansible_facts['distribution'] }} {{ ansible_distribution_version }} {{ ansible_distribution_release }}.
Build date: {{ ansible_date_time.iso8601 }}
FQDN:   {{ ansible_fqdn }}[0m
[0m[1;34m                                     [0m
