[0m[1;34m[0m
[0m[1;34m       _williiiiiiliilililw,         [0m
[0m[1;34m     _%iiiiiilililiiiiiiiiiii_       [0m [1;33m {{ ansible_date_time.iso8601 }} FQDN:   {{ ansible_facts['fqdn'] }}[0m
[0m[1;34m   .Qliiiililiiiiiiililililiilm.     [0m [1;33m {{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }} {{ ansible_facts['distribution_release'] }}.Build date: [0m
[0m[1;34m  ;iiiiiliiiiiililiiiiiiiiiiliil,    [0m [1;33m {{ ansible_distribution_release }}.Build date: {{ ansible_date_time.iso8601 }}[0m
[0m[1;34m .lililiiilililiiiilililililiiiii,   [0m
[0m[1;34m_liiiiiiliiiiiiiliiiiiF{iiiiiilili,  [0m
[0m[1;34mjliililiiilililiiili@`  \ililiiiiiL  [0m
[0m[1;34miiiliiiiliiiiiiili>`      \liililii  [0m
[0m[1;34mliliiiliiilililii`          9liiiil  [0m
[0m[1;34miiiiiliiliiiiii~             "4lili  [0m
[0m[1;34m4ililiiiiilil~       -w,       \4lf  [0m
[0m[1;34m-liiiiililiF'       _liig,       )'  [0m
[0m[1;34m )iiiliii@`       _QIililig,         [0m
[0m[1;34m  'iiii>`       .Qliliiiililw        [0m
[0m[1;34m   '<>~       .mliiiiiliiiiiil,      [0m
[0m[1;34m     '      _gllilililiililii~       [0m
[0m[1;34m           giliiiiiiiiiiiiT`         [0m
[0m[1;34m           ^~$ililili@~~'            [0m
[0m[1;34m