[0m[1;34m           /:-------------:\         [0m
[0m[1;34m        :-------------------::       [0m
[0m[1;34m      :-----------[0m[1;37m/shhOHbmp[0m[1;34m---:\     [0m
[0m[1;34m    /-----------[0m[1;37momMMMNNNMMD  [0m[1;34m---:    [0m      {{ ansible_distribution }} {{ ansible_distribution_version }} {{ ansible_distribution_release }}.
[0m[1;34m   :-----------[0m[1;37msMMMMNMNMP[0m[1;34m.    ---:   [0m      Build date: {{ ansible_date_time.iso8601 }}
[0m[1;34m  :-----------[0m[1;37m:MMMdP[0m[1;34m-------    ---\  [0m      FQDN:   {{ ansible_fqdn }}
[0m[1;34m ,------------[0m[1;37m:MMMd[0m[1;34m--------    ---:  [0m
[0m[1;34m :------------[0m[1;37m:MMMd[0m[1;34m-------    .---:  [0m
[0m[1;34m :----    [0m[1;37moNMMMMMMMMMNho[0m[1;34m     .----:  [0m
[0m[1;34m :--     .[0m[1;37m+shhhMMMmhhy++[0m[1;34m   .------/  [0m
[0m[1;34m :-    -------[0m[1;37m:MMMd[0m[1;34m--------------:   [0m
[0m[1;34m :-   --------[0m[1;37m/MMMd[0m[1;34m-------------;    [0m
[0m[1;34m :-    ------[0m[1;37m/hMMMy[0m[1;34m------------:     [0m
[0m[1;34m :--[0m[1;37m :dMNdhhdNMMNo[0m[1;34m------------;      [0m
[0m[1;34m :---[0m[1;37m:sdNMMMMNds:[0m[1;34m------------:       [0m
[0m[1;34m :------[0m[1;37m:://:[0m[1;34m-------------::         [0m
[0m[1;34m :---------------------://           [0m
[0m[1;34m                                     [0m
