[defaults]
# point to your real roles directory (relative from molecule/default)
roles_path = ../../..:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
host_key_checking = False
nocows = 1

[ssh_connection]
ssh_args = -C