#platform=x86

#Install OS instead of upgrade
install

#Use CDROM installation media
cdrom

#Use text mode install
text

#System language and keyboard
lang en_US.UTF-8
keyboard us

#System timezone
timezone --utc Europe/Paris
url --url=http://mirrors.atosworldline.com/public/centos/8.1.1911/BaseOS/x86_64/os/

#System authorization infomation
#authconfig --enableshadow --passalgo=sha512

#Root password
rootpw master
authconfig --enableshadow --enablemd5

#Network
network --bootproto=dhcp

#System bootloader configuration
bootloader --location=mbr

#Do not configure the X Window System
skipx

#Partitionnement
zerombr
clearpart --all --initlabel
part / --size=1024 --grow --fstype xfs --asprimary

#Services
## Les service sont gérés dans le post_install.yml

#Gestion de boot
reboot
firstboot --disabled

#SElinux
#selinux --enforcing

%packages
@Core
## L'ajout des paquets est géré dans le post_install.yml
-device-mapper-multipath
-iscsi-initiator-utils
-avahi
-aic94xx-firmware
-ivtv-firmware
-iw*
## Les paquets ci-dessous sont juste mis par prévention, car ils ne sont pas installés par défaut.
-cups
-gcc
-kernel-devel
-kernel-headers
-bluez-utils
-dogtail
-kudzu
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw*
-libertas-usb8388-firmware
-ql*-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end


%post

# cloudadm
groupadd -g 2720 cloudadm
useradd -u 2720 -c "Cloud User" -g cloudadm -G wheel,adm,systemd-journal cloudadm
echo cloudadm | passwd cloudadm --stdin

# sudo
echo "cloudadm ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/cloudadm
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end